In [3]:
# Import libraries 
import pandas as pd
import numpy as np

In [4]:
# Read csv created in sql 
df = pd.read_csv('unga_4625_2.0.csv')
df_copy = df

In [5]:
# Check columns
df.columns

Index(['country_code', 'name', 'agreements_w_usa', 'pct_agreement_w_usa',
       'agreements_w_china', 'pct_agreement_w_china', 'agreements_w_russia',
       'pct_agreement_w_russia'],
      dtype='object')

In [3]:
# Check data types 
df.dtypes

country_code               object
name                       object
agreements_w_usa            int64
pct_agreement_w_usa       float64
agreements_w_china          int64
pct_agreement_w_china     float64
agreements_w_russia         int64
pct_agreement_w_russia    float64
dtype: object

In [ ]:
# Checking duplicate rows in dataset 
df_dupes = df[df.duplicated(subset=['country_code'], keep=False)]
print(df_dupes.head(10))
"""
Duplicate country ID values indicate a repeating of values for countries that have changed
name from 1946 - 2025. The figures of agreement calculated in SQL have thus been duplicated 
meaning duplicate rows can be removed, only keeping a unique row (country_code) for each 
state 
"""

   country_code                              name  agreements_w_usa  \
13          BEN                             BENIN               839
14          BEN                           DAHOMEY               839
15          BFA                       UPPER VOLTA               917
16          BFA                      BURKINA FASO               917
22          BLR                           BELARUS               811
23          BLR                  BYELORUSSIAN SSR               811
25          BOL                           BOLIVIA              1152
26          BOL  BOLIVIA (PLURINATIONAL STATE OF)              1152
32          CAF            CENTRAL AFRICAN EMPIRE               808
33          CAF          CENTRAL AFRICAN REPUBLIC               808

    pct_agreement_w_usa  agreements_w_china  pct_agreement_w_china  \
13                35.15                3684                  73.05
14                35.15                3684                  73.05
15                38.19                3919                  77.54
16                38.19                3919                  77.54
22                37.29                3668                  75.55
23                37.29                3668                  75.55
25                44.86                4000                  76.26
26                44.86                4000                  76.26
32                33.58                2858                  56.57
33                33.58                2858                  56.57

    agreements_w_russia  pct_agreement_w_russia
13                 3338                   72.06
14                 3338                   72.06
15                 3424                   73.73
16                 3424                   73.73
22                 4309                   90.39
23                 4309                   90.39
25                 3421                   72.16
26                 3421                   72.16
32                 2554                   55.02
33                 2554                   55.02

'\nDuplicate coutnry ID values indicate a reperating of values for countreis that have changed\nname from 1946 - 2025. The figures of agreement calculated in SQL have thus been duplicated \nmeaning duplicate rows can be removed, only keeping a unique row (couuntry_code) for each \nstate \n'

In [5]:
# Dropping duplicate values 
df = df.drop_duplicates(subset=['country_code'], keep='first')

In [6]:
# Checking if repeat values are missing
df_dupes

,country_code,name,agreements_w_usa,pct_agreement_w_usa,agreements_w_china,pct_agreement_w_china,agreements_w_russia,pct_agreement_w_russia
13,BEN,BENIN,839,35.15,3684,73.05,3338,72.06
14,BEN,DAHOMEY,839,35.15,3684,73.05,3338,72.06
15,BFA,UPPER VOLTA,917,38.19,3919,77.54,3424,73.73
16,BFA,BURKINA FASO,917,38.19,3919,77.54,3424,73.73
22,BLR,BELARUS,811,37.29,3668,75.55,4309,90.39
...,...,...,...,...,...,...,...,...
231,VEN,VENEZUELA,1085,42.92,3954,75.21,3461,72.69
236,YMD,DEMOCRATIC YEMEN,358,29.76,1671,75.03,1795,86.46
237,YMD,SOUTHERN YEMEN,358,29.76,1671,75.03,1795,86.46
239,ZAF,SOUTH AFRICA,733,29.49,2420,47.53,1806,39.44
240,ZAF,UNION OF SOUTH AFRICA,733,29.49,2420,47.53,1806,39.44

In [7]:
# Checking previously duplicated values 
df.loc[df['country_code'] == 'BEN']
df.loc[df['country_code'] == 'CAF']
df.loc[df['country_code'] == 'TUR']

,country_code,name,agreements_w_usa,pct_agreement_w_usa,agreements_w_china,pct_agreement_w_china,agreements_w_russia,pct_agreement_w_russia
217,TUR,TÜRKIYE,1499,58.17,3509,73.52,3094,70.91

In [8]:
# View cleaned dataframe 
df

,country_code,name,agreements_w_usa,pct_agreement_w_usa,agreements_w_china,pct_agreement_w_china,agreements_w_russia,pct_agreement_w_russia
0,AFG,AFGHANISTAN,897,35.94,3672,70.81,3438,72.50
1,AGO,ANGOLA,506,27.25,3239,73.63,2878,70.71
2,ALB,ALBANIA,823,35.61,2705,58.65,2622,60.48
3,AND,ANDORRA,638,69.27,1290,62.17,1382,71.16
4,ARE,UNITED ARAB EMIRATES,855,39.68,3936,82.76,3410,77.69
...,...,...,...,...,...,...,...,...
236,YMD,DEMOCRATIC YEMEN,358,29.76,1671,75.03,1795,86.46
238,YUG,YUGOSLAVIA,676,35.08,2166,62.17,2275,70.96
239,ZAF,SOUTH AFRICA,733,29.49,2420,47.53,1806,39.44
241,ZMB,ZAMBIA,914,39.64,3893,78.57,3480,76.05
242,ZWE,ZIMBABWE,471,31.95,3200,79.80,2746,74.04

In [10]:
# Saving clean data to new csv file 
df.to_csv('unga_4625_cleaner.csv', index=True)