In [ ]:
# Import libraries
import pandas as p

In [ ]:
# creating variables for each clustered dataframe from k-means
df1 = pd.read_csv('clustered_unga4625.csv')
df2 = pd.read_csv('clustered_unga9125.csv')
df3 = pd.read_csv('clustered_unga4691.csv')

In [ ]:
# Concatenate data
df_concat = pd.concat([df1, df2, df3])

In [ ]:
# Remove unwanted column
df_concat = df_concat.drop(columns=['Unnamed: 0'])

In [ ]:
# Check dataframe
df_concat

,name,country_code,pct_agreement_w_usa,pct_agreement_w_china,pct_agreement_w_russia,cluster,period,pct_agreement_w_cccp
0,ANDORRA,AND,69.27,62.17,71.16,0,1946-2025,NaN
1,AUSTRALIA,AUS,65.26,57.79,59.43,0,1946-2025,NaN
2,AUSTRIA,AUT,63.57,58.73,64.79,0,1946-2025,NaN
3,BELGIUM,BEL,72.45,54.42,58.16,0,1946-2025,NaN
4,BOSNIA AND HERZEGOVINA,BIH,55.61,55.79,58.03,0,1946-2025,NaN
...,...,...,...,...,...,...,...,...
166,SOLOMON ISLANDS,SLB,19.10,48.95,NaN,2,1946-1991,46.63
167,EL SALVADOR,SLV,45.13,63.71,NaN,2,1946-1991,62.51
168,SWEDEN,SWE,60.01,55.83,NaN,2,1946-1991,57.63
169,UNITED STATES,USA,100.00,40.45,NaN,2,1946-1991,33.99
170,SAINT VINCENT AND THE GRENADINES,VCT,20.86,53.31,NaN,2,1946-1991,51.53

In [ ]:
# Save csv to files 
# This is the data used for the Tableau dashboard
df_concat.to_csv('un_pctagree_data.csv')