In [1]:
# Import libraries
import pandas as pd
import numpy as np

In [ ]:
# Data from 1991 to 2025
# Read csv created in sql 
df = pd.read_csv('unga_9125.csv')

In [3]:
# Check columns 
df.columns

Index(['country_code', 'name', 'agreements_w_usa', 'pct_agreement_w_usa',
       'agreements_w_china', 'pct_agreement_w_china', 'agreements_w_russia',
       'pct_agreement_w_russia'],
      dtype='object')

In [ ]:
# Check data types 
df.dtypes

country_code               object
name                       object
agreements_w_usa            int64
pct_agreement_w_usa       float64
agreements_w_china          int64
pct_agreement_w_china     float64
agreements_w_russia         int64
pct_agreement_w_russia    float64
dtype: object

In [ ]:
# Checking for duplicate values 
df_dupes = df[df.duplicated(subset=['country_code'], keep=False)]
print(df_dupes.head(10))

"""
Duplicate country ID values indicate a repeating of values for countries that have changed
name from 1946 - 2025. The figures of agreement calculated in SQL have thus been duplicated 
meaning duplicate rows can be removed, only keeping a unique row (country_code) for each 
state 
"""

   country_code                              name  agreements_w_usa  \
22          BOL  BOLIVIA (PLURINATIONAL STATE OF)               419
23          BOL                           BOLIVIA               419
34          CIV                     CÔTE D'IVOIRE               451
35          CIV                     COTE D'IVOIRE               451
37          COD  DEMOCRATIC REPUBLIC OF THE CONGO               231
38          COD                             ZAIRE               231
42          CPV                        CABO VERDE               415
43          CPV                        CAPE VERDE               415
48          CZE                    CZECH REPUBLIC               651
49          CZE                           CZECHIA               651

    pct_agreement_w_usa  agreements_w_china  pct_agreement_w_china  \
22                46.56                1991                  81.23
23                46.56                1991                  81.23
34                47.47                1820                  74.07
35                47.47                1820                  74.07
37                24.71                 956                  38.88
38                24.71                 956                  38.88
42                43.50                1888                  76.72
43                43.50                1888                  76.72
48                70.76                1239                  64.13
49                70.76                1239                  64.13

    agreements_w_russia  pct_agreement_w_russia
22                 1635                   71.68
23                 1635                   71.68
34                 1460                   63.95
35                 1460                   63.95
37                  760                   33.39
38                  760                   33.39
42                 1501                   65.63
43                 1501                   65.63
48                 1374                   73.48
49                 1374                   73.48

'\nDuplicate coutnry ID values indicate a reperating of values for countreis that have changed\nname from 1946 - 2025. The figures of agreement calculated in SQL have thus been duplicated \nmeaning duplicate rows can be removed, only keeping a unique row (couuntry_code) for each \nstate \n'

In [ ]:
# Dropping dupe values BUT keep first value as dupe values are repeated 
df = df.drop_duplicates(subset=['country_code'], keep='first')

In [ ]:
# Checking for duped values are now a single row 
df.loc[df['country_code']=='TUR']

,country_code,name,agreements_w_usa,pct_agreement_w_usa,agreements_w_china,pct_agreement_w_china,agreements_w_russia,pct_agreement_w_russia
187,TUR,TURKEY,569,62.25,1568,74.56,1452,71.74

In [ ]:
# View clean DateFrame
df

,country_code,name,agreements_w_usa,pct_agreement_w_usa,agreements_w_china,pct_agreement_w_china,agreements_w_russia,pct_agreement_w_russia
0,AFG,AFGHANISTAN,341,37.35,1729,70.28,1338,59.18
1,AGO,ANGOLA,347,36.76,1832,74.53,1464,64.21
2,ALB,ALBANIA,622,65.27,1158,55.54,1264,63.23
3,AND,ANDORRA,638,69.27,1290,62.17,1382,71.16
4,ARE,UNITED ARAB EMIRATES,417,44.55,2156,87.82,1643,72.22
...,...,...,...,...,...,...,...,...
204,YEM,YEMEN,384,41.07,2089,85.13,1606,70.81
205,YUG,YUGOSLAVIA,39,11.89,114,15.62,125,17.61
206,ZAF,SOUTH AFRICA,418,44.99,1957,79.68,1664,73.01
207,ZMB,ZAMBIA,414,43.81,1973,80.30,1561,68.56
208,ZWE,ZIMBABWE,317,38.56,2033,83.46,1616,71.35

In [ ]:
# Saving cleaned data to csv 
df.to_csv('unga9125_cleaned.csv')