In [1]:
# Import libraries 
import pandas as pd
import numpy as np

In [ ]:
# Read csv created in sql 
# Data from 1946 - 1991
df = pd.read_csv('unga4691.csv')

In [ ]:
# Check columns 
df.columns

Index(['country_code', 'name', 'agreements_w_usa', 'pct_agreement_w_usa',
       'agreements_w_china', 'pct_agreement_w_china', 'agreements_w_cccp',
       'pct_agreement_w_cccp'],
      dtype='object')

In [3]:
# Check datatypes 
df.dtypes

country_code              object
name                      object
agreements_w_usa           int64
pct_agreement_w_usa      float64
agreements_w_china         int64
pct_agreement_w_china    float64
agreements_w_cccp          int64
pct_agreement_w_cccp     float64
dtype: object

In [ ]:
# Checking duplicate rows in dataset 
df_dupes = df[df.duplicated(subset=['country_code'], keep=False)]
print(df_dupes.head(10))
"""
Duplicate country ID values indicate a repeating of values for countries that have changed
name from 1946 - 2025. The figures of agreement calculated in SQL have thus been duplicated 
meaning duplicate rows can be removed, only keeping a unique row (country_code) for each 
state 
"""

Empty DataFrame
Columns: [country_code, name, agreements_w_usa, pct_agreement_w_usa, agreements_w_china, pct_agreement_w_china, agreements_w_cccp, pct_agreement_w_cccp]
Index: []

'\nDuplicate coutnry ID values indicate a reperating of values for countreis that have changed\nname from 1946 - 2025. The figures of agreement calculated in SQL have thus been duplicated \nmeaning duplicate rows can be removed, only keeping a unique row (couuntry_code) for each \nstate \n'

In [ ]:
# Dropping duplicate values 
df = df.drop_duplicates(subset='country_code', keep='first')

In [ ]:
# # Checking if repeat values are missing
df_dupes

Empty DataFrame
Columns: [country_code, name, agreements_w_usa, pct_agreement_w_usa, agreements_w_china, pct_agreement_w_china, agreements_w_cccp, pct_agreement_w_cccp]
Index: []

In [ ]:
# Checking previously duplicated values 
df.loc[df['country_code'] == 'TUR']

,country_code,name,agreements_w_usa,pct_agreement_w_usa,agreements_w_china,pct_agreement_w_china,agreements_w_cccp,pct_agreement_w_cccp
180,TUR,TURKEY,930,55.92,1941,72.7,1642,70.2

In [14]:
# View cleaned dataframe 
df

,country_code,name,agreements_w_usa,pct_agreement_w_usa,agreements_w_china,pct_agreement_w_china,agreements_w_cccp,pct_agreement_w_cccp
0,AFG,AFGHANISTAN,556,35.12,1943,71.28,2100,84.64
1,AGO,ANGOLA,159,17.42,1407,72.49,1414,78.99
2,ALB,ALBANIA,201,14.80,1547,61.22,1358,58.13
3,ARE,UNITED ARAB EMIRATES,438,35.93,1780,77.36,1767,83.59
4,ARG,ARGENTINA,786,47.41,2067,73.82,1927,78.05
...,...,...,...,...,...,...,...,...
193,YMD,DEMOCRATIC YEMEN,358,29.76,1671,75.03,1795,86.46
195,YUG,YUGOSLAVIA,637,39.84,2052,74.51,2150,86.14
196,ZAF,UNION OF SOUTH AFRICA,315,20.23,463,17.57,142,6.17
198,ZMB,ZAMBIA,500,36.74,1920,76.86,1919,83.47
199,ZWE,ZIMBABWE,154,23.62,1167,74.14,1130,78.25

In [ ]:
# Saving clean data to new csv file
df.to_csv('unga4691_cleaned.csv', index = True)